
body
{
	background-size: cover;
	background-repeat: no-repeat;
  width: 100%;
  height: auto;
}
  /*html Navbar page*/ 
  .navbar{
    background-color: #A14FD3 !important;
  }
   /*end*/ 


  /*Logo positioning*/ 
.logo img{
  position: static;
    margin-left: 10px;
    width: 8%;
}

  /*Font positioning beside logo*/ 
.text {
    position: fixed;
    left: 130px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}


 /*html landing  page*/ 
 .container {
  position: relative;
  text-align: center;
  color: white;
  font-family: 'Poppins';
  font-size: 3.5rem;
  bottom: -10px;
  font-weight:bold;
}
@media (max-width:991px){
  .container{
    font-size:  calc(1rem +1.5rem);
  }
}

.responsive1 {
  width: 100%;
  height: auto;
}

.bottomleft {
  text-align: center;
  color: #D7A4FF;
  font-family: 'Poppins';
  text-transform: uppercase;  
  padding:10px ;
  position: absolute;
  top: 130%;
  left: 30%;
transform: translate(-50%,-50%);
font-weight:bold;

}
.contain1 {
  color: #D7A4FF;
  text-align: center;
  font-family: 'Poppins';
  text-transform: uppercase;  
  padding:10px ;
  position: absolute;
  top: 130%;
  left: 5%;
  font-size: 4rem;

}
.contain2 {
  color: #D7A4FF;
  text-align: center;
  font-family: 'Poppins';
  text-transform: uppercase;  
  padding:5px ;
  position: absolute;
  top: 170%;
  left: 10%;
  font-size: 3rem;
}
.bottomleft1 {
  position: absolute;
  bottom: -250px;
  left: 3px;
  font-size: 90px;
  font-weight:bold;
  color: #D7A4FF;
}
.btn-float-left{
  position: absolute;
  top: 230%;
  left: 103px;
  background-color: #5F46A6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 25px;
  height: auto;
  }

  .icon {
   height: 30px;
   float: right;
   width: 40%;
   padding:10px ;   
   right: 5%;
   top: 40%;

  }

   /*end*/  





 /*html Services page*/ 
 .centered1 {
    position: relative;
    text-align: center;
    color: black;
    font-family: 'Poppins';
    font-size: 20px;
    bottom: -10px;

  }
  .centered2 {
    position: relative;
    text-align: center;
    color: black;
    font-family: 'Poppins';
    font-size: 20px;
    bottom: -30px;

  }
  .centered3 {
    position: relative;
    text-align: center;
    color: black;
    font-family: 'Poppins';
    font-size: 22px;
    bottom: -55px;

  }
   /*end*/ 
   
  .responsive {
    width: 100%;
    height: auto;
  }

   /*html Center logo*/ 
  .context {
    position: relative;
    text-align: center;
    color: black;
    font-family: 'Poppins';
    font-size: 70px;
    bottom: -10px;
  }



   /*html Footer*/ 
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #EAEAEA;
    color:black;
    text-align: center;
 }
section{
  width: 100%;
  float: left;
  height: 100vh;
  position: relative;
}
#home{
  background-image: url(../landingpage/Images/background.png);
margin: 0;
padding: 0;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
  
}
#About{
  background-color: white;
}
#Services{
  background-color: white;
}

.centered{
  position: relative;
  text-align: center;
  color: black;
  font-family: 'Poppins';
  font-size: 70px;
  bottom: -10px;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
