* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.body_content {
    padding-left: 16.5%;
}

.h1-title {
    padding-left: 1px;
}

#brand {
    background-color: rgb(166, 40, 166);
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 90px;
    margin: 0;
    padding: 0;
}


/*.logo_content{
    line-height: 20px;
    background:#c45eff;
    width: 100%;
    height: 5%;
}*/

header {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    line-height: 35px;
    background: #c45eff;
    user-select: none;
    display: flex;
}

nav img {
    height: 33px;
    width: 30px;
}

#icon_announce img {
    height: 50%;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    height: 100%;
    width: 240px;
    position: fixed;
    left: 0;
    overflow-y: hidden;
    background-color: blueviolet;
}

nav ul li {
    line-height: 3em;
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 19px;
}

nav ul li a {
    display: block;
    padding-left: 2em;
    color: white;
    text-decoration: none;
}

nav i {
    color: white;
}

.logout li {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding-top: 16em;
    font-size: 19px;
}

.logout a {
    color: white;
    padding-left: 2em;
    text-decoration: none;
}


/*TEXT FORMAT*/

h1{
    padding-left: 0.3em;
}

#title{
    font-size: 23px;
}

p{

    font-size: 150px;
    padding-top: 0.01em;
}

/* MAIN CONTENT*/


.flex-container {
    display: flex;
    margin: auto;
    padding-top: 0.3em;
    width: 85%;
}

.flex-child {
    flex: 1;
    border: 2px solid black;
    background-color: #8d1ecd;
    height: 250px;
    color: white;
    text-align: center;
}  

.flex-child:first-child {
    margin-right: 20px;
} 


nav ul li {
    line-height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav ul li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

nav ul li a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}

nav ul li.active a {
    color: rgb(244, 244, 244);
    background: rgb(107, 15, 193);
    border-left-color: rgb(255, 255, 255);
}

nav ul ul {
    position: static;
    display: none;
}

nav ul .sched-show.show {
    display: block;
}

nav ul .acct-show.show1 {
    display: block;
}

nav ul ul li {
    line-height: 42px;
    border-bottom: none;
}

nav ul ul li a {
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 80px;
}

nav ul li.active ul li a {
    color: #e6e6e6;
    background: rgb(107, 15, 193);
    border-left-color: transparent;
}

nav ul ul li a:hover {
    color: rgb(47, 0, 255)!important;
    background: rgb(107, 15, 193)!important;
}

nav ul li a span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}

nav ul li a span.rotate {
    transform: translateY(-50%) rotate(-180deg);
}

/*Seach button start*/
.search-box{
    position: absolute;
    top: 23%;
    left: 20%;
    background: #e6e6e6;
    padding: 10px;
    height: 40px;
    border-radius: 40px;  
}

.search.btn{
    color: black;
    float:right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width:240px;
}
.fa-money-bill-1-wave{
    border: 2px solid white;
    padding:15px; 
    border-radius: 70px; 
    background:#5F46A6;
     position: absolute;
     font-size: 17px;
     color: white;
      top: 22%;
       left: 75%;
    }

    
  /*Add Prescription Downlist */
  .creates{
    position: absolute;
    font-size: 17px;
    top: 5%;
    left: 25%;
    /*Add Prescription Downlist end */
    
  }
  /*Add transaction button  */
  .AddTransaction{
    
    border-radius: 70px; 
    background:#5F46A6;
     position: absolute;
     font-size: 14px;
     color: white;
       left: 60%;
       top:5px; 
    }
    /*Add transaction button end  */

       /*table list */
    table, td, th {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align:center;
}
 /*table list  end*/